@model List<Menu.Models.Dish>

@{
    ViewData["Title"] = "MenuIndex";
}

<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body text-center">
                        <h4>@item.Name</h4>
                        <img src="@item.ImageUrl" class="img-fluid" style="max-width: 250px; height: auto;" />
                        <p><strong>Price:</strong> @item.Price.ToString("C")Dollars</p>
                        <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">
                            View Details
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
